**/node_modules
**/dist
**/.vite
**/coverage
**/*.log
**/*.tsbuildinfo

.git
.github
.env
.env.*
!.env.example

docs
reports
scans
.tmp
tmp

docker-compose.yml
docker-compose.*.yml
.editorconfig
.prettierrc.json
.prettierignore
